<div class="title__about">
  О Компании Вокругторг
</div>
<div class="text__about">
  Компания Вокругторг - крупный поставщик компьютерного, электронного и монтажного оборудования для различных и в том числе промышленных предприятий России. Мы оснащаем организации всем необходимым оборудованием, выполняя функции внешнего отдела снабжения. В наш ассортимент входят оборудование и системы управления, вычислительная техника, аналитические приборы, расходные материалы, инструменты, различная электроника и многое, многое другое. Список поставляемой нами продукции постоянно растет и сейчас включает в себя несколько тысяч позиций. Уже более двухсот компаний-производителей являются нашими партнерами.
</div>
<div class="title__about1">
  С нами вам будет: 
</div>
<div class="aboutsb" style="">
  <div class="aboutb">
    <span><img src="/assets/a1.png" alt="" /></span>
    <span> <span>Удобно</span> - контактируя только с одним поставщиком, наши клиенты получают широкий спектр продукции по отпускным ценам производителей. Огромный спектр товаров в одном месте!</span>
  </div>
  <div class="aboutb aboutb1">
    <span><img src="/assets/a2.png" alt="" /></span>
    <span> <span>Просто</span> - от наших клиентов требуется лишь сформировать заказ на поставку продукции, решение дальнейших задач мы берем на себя.</span>
  </div>
</div>
<div class="aboutsb aboutsb3" style="">
  <div class="aboutb ">
    <span><img src="/assets/a3.png" alt="" /></span>
    <span>  <span>Выгодно</span> - мы экономим средства наших клиентов на проведении работ по маркетигу, импорту, логистике. Компания Вокругторг предлагает вам компьютеры, офисную технику, расходные материалы как оптом, так и в розницу. Все это вы можете приобрести в нашем интеренет - магазине.</span>
  </div>
</div>
<div class="about__text2">
  Ознакомиться с ассортиментом предлагаемой продукции Вы можете на нашем сайте:<br> www.vokrugtorg.ru, который совсем скоро ожидает открытия. Мы рады предложить Вам широкий спектр продукции, любое количество едениц товара, низкие цены, скидки для постоянных покупателей, доставку покупок по всей России.
</div>
<div class="about__text3">
  Внешний отдел снабжения: работа с профессионалами и экономия на издержках. Добро пожаловать в наш магазин!
</div>
