<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
  
    <div id="api-shim" style="visibility: none" mount-point="<%= @mount_point %>"></div>

    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

    <div class="mainblock <%= 'white-bg' if @whitespace %>">
      <div class="content <%= 'mainblock1' if @whitespace %>">
        <%= breadcrumbs(@taxon, '&nbsp;&gt;&nbsp;') %>

        <% if @sidebar %>
          <%= render partial: 'spree/shared/custom_sidebar' %>
        <% end %>

        <%= flash_messages %>
        <%= yield %>

        <%= yield :templates %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
