<div class="b2b">
  <img src="/assets/b2b.png" alt="" />
  <div class="b2b2">
    В настоящее время мы работаем над созданием отдела, который возьмет на себя поддержку B2B. Это займет некоторое время. Просим отнестись к этому процессу с терпeнием и понимаем.
  </div>
</div>
