<% variant = line_item.variant %>

<% if crutched_version %>
  <%= order_form.fields_for :line_items, line_item do |item_form| %>
    <div class="itemsb line-item">
      <div class="iteminfo">
        <span class="img">
          <% if variant.images.length == 0 %>
            <%= link_to small_image(variant.product), variant.product %>
          <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
          <% end %>
        </span>
        <span class="name">
          <%= link_to line_item.name, product_path(variant.product) %>
        </span>
      </div>
      <div class="price-container">
        <div class="iteminfo3 cart-item-delete">
          <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-minus-sign text-danger'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
        </div>
        <div class="iteminfo1">
          <div class="iteminfo2">
            <%= item_form.number_field :quantity, min: 0, size: 5, class: "line_item_quantity" %>
          </div>
          <div class="price">
            <%= line_item.single_money.to_html(:symbol => nil) %>
            <img src="/assets/rub1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% else %>

  <%= order_form.fields_for :line_items, line_item do |item_form| %>
    <tr class="item line-item">
      <td class="cart-item-image" data-hook="cart_item_image">
        <span>
          <% if variant.images.length == 0 %>
            <%= link_to small_image(variant.product), variant.product %>
          <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
          <% end %>
        </span>
        <span class="item-name">
          <%= link_to line_item.name, product_path(variant.product) %>
        </span>
        <%= variant.options_text %>
        <% if line_item.insufficient_stock? %>
          <span class="out-of-stock">
            <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;
            <br />
          </span>
        <% end %>
      </td>
      <td>
        <%= line_item.single_money.to_html(:symbol => nil) %>
        <img src="/assets/rub1.png" alt="" />
      </td>
      <td class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
        <%= item_form.number_field :quantity, min: 0, size: 5, class: "line_item_quantity" %>
      </td>
      <td>
        <%= line_item.display_amount.to_html(:symbol => nil) unless line_item.quantity.nil? %>
        <img src="/assets/rub1.png" alt="" />
        <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-minus-sign text-danger'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
      </td>
    </tr>
  <% end %>

<% end %>
