<% @body_id = 'cart' %>

<div class="basket__title">
  <%= Spree.t(:shopping_cart) %>
</div>

<% if @order.line_items.empty? %>
  <div class="empty-cart" data-hook="empty_cart">
    <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
    <p><%= link_to Spree.t(:continue_shopping), seo_url(@first_category), class: 'btn btn-default' %></p>
  </div>
<% else %>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
  <div class="basket-container">
  
    <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
      <div class="basket__table">
        <table class="items-table" border="0" cellspacing="5" cellpadding="5">
          <tr class="headert">
            <td class="td-name">Наименование</td>
            <td class="td-price">Цена</td>
            <td class="td-count">Кол-во</td>
            <td class="td-summary">Итог</td>
          </tr>
          <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form, crutched_version: false } %>
        </table>
        <div class="button__right">
          <%= button_tag id: 'update-button' do %>
            <%= Spree.t(:update) %>
          <% end %>
          <%= button_tag id: 'checkout-link', name: 'checkout' do %>
            <%= Spree.t(:checkout) %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
      <div class="basket__table1">
        <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
          <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form, crutched_version: true } %>
        <% end %>
        <div class="button__right">
          <%= button_tag id: 'update-button' do %>
            <%= Spree.t(:update) %>
          <% end %>
          <%= button_tag id: 'checkout-link', name: 'checkout' do %>
            <%= Spree.t(:checkout) %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="button__left">
      <%= form_tag empty_cart_path, method: :put do %>
        <%= submit_tag Spree.t(:empty_cart) %>
        <div>
          <%= Spree.t(:or) %>
          <%= link_to Spree.t(:continue_shopping), seo_url(@first_category) %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>
