<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="guarantees" class="row" data-hook>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-5 col-sm-8 col-xs-12 col-md-offset-0 col-sm-offset-2">
      <div class="shield-pic"></div>
      <div class="inner-text">Мы в ответе за качество приобретаемого вами товара, и даже если вас что-то не устроило, то вы всегда можете обратиться к нам с претензией. Для этого просто заполните форму. Наш сотрудник свяжется с вами в течение ближайших суток для решения проблемы.</div>
    </div>
    <div class="col-md-2 col-sm-8 col-xs-12 col-md-offset-0 col-sm-offset-2">
      <div class="plane-container">
        <div class="plane-pic"></div>
      </div>
    </div>
    <div class="col-md-5 col-sm-8 col-xs-12 col-md-offset-0 col-sm-offset-2">
      <div id="thanks" class="thanks">
        <div class="text-center">Спасибо!</div>
        <div>Ваша заявка была отправлена и в скором времени с Вами свяжется наш менеджер!</div>
      </div>
      <form id="feedback" class="feedback" onsubmit="return false">
        <input class="col-xs-12" type="text" name="invoice_number" placeholder="Номер накладной/заказа" />
        <input class="col-xs-12" type="text" name="contacts" placeholder="Контактные данные" />
        <input class="col-xs-12" type="text" name="item_name" placeholder="Наименование товара" />
        <textarea class="col-xs-12" name="message" placeholder="Описание проблемы"></textarea>
        <div class="col-xs-10 col-xs-offset-1">
          <input class="col-xs-12" type="submit" value="Отправить" />
        </div>
      </form>
    </div>
  </div>
</div>
