<div id="events">
  <div class="message">
    <div class="col-md-4 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">
      <div class="image-container">
        <div class="image" style="background-image: url('/assets/opened.jpg')">
          <div class="shade"></div>
          <div class="title">Мы открылись!</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1">
      <div class="text-container">
        <div class="title">Состоялось открытие сайта Vokrugtorg.ru!</div>
        <div class="inner-text">Наша команда долго старалась, чтобы создать ресурс, на котором нашим клиентам и партнерам будет удобно и просто. Мы рады сообщить вам, что большая часть работ на данный момент уже закончена, а в скором времени мы поправим имеющиеся незначительные недочеты. В настоящее время ведется активная работа по сопровождению ассортимента фотографиями. Мы рады вашему визиту и надеемся, что вам понравится у нас!</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-8 col-xs-offset-2">
      <hr />
    </div>
  </div>
</div>
