<div class="item__img">
  <%= render :partial => 'image' %>
</div>
<%= form_for :order, url: populate_orders_path do |f| %>
  <% if @product.price_in(current_currency) && !@product.price.nil? %>
    <%= hidden_field_tag "variant_id", @product.master.id %>
    <% if @product.can_supply? %>
      <div class="cost__text"><%= Spree.t(:price) %></div>
      <div class="cost__item">
        <%= display_price(@product) %>
        <img src="/assets/rub2.png" alt="">
      </div>
      <%= number_field_tag :quantity, 1, min: 1 %>
      <%= button_tag id: 'add-to-cart-button', type: :submit do %>
        Добавить в корзину
      <% end %>
    <% else %>
      <br />
      <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
    <% end %>
  <% end %>
<% end %>
