<% unless @product_properties.empty? %>
  <% @product_properties.each do |product_property| %>
    <% if product_property.property.presentation != 'nil' %>
      <div class="propertie">
        <span><%= product_property.property.presentation %></span>
        <span><%= product_property.value %></span>
      </div>
    <% end %>
  <% end %>
  <% reset_cycle('properties') %>
<% end %>
