<% @similar_products.each do |item| %>
  <div class="stocko similar-item">
    <div class="stocko__title"></div>
    <%= product_image(item, :itemprop => "image") %>
    <div class="stocko__name"><%= link_to item.name, spree.product_url(item) %></div>
    <div>
      <div class="cost1">
        <%= display_price(item) %>
        <img src="/assets/rub.png" alt="" />
      </div>
      <div class="cost2">
        <span id="cart-control" variant-id="<%= item.master.id %>">
          <img src="/assets/basket1.png" alt="" />
        </span>
        <span id="similar-controls">
          <i id="lt-control" class="fa fa-angle-left" aria-hidden="true"></i>
          <span id="val-control">1</span>
          <i id="gt-control" class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>
<% end %>
