<% @body_id = 'product-details' %>

<div class="pagess1">
  <div class="left__item col-md-4">
    <%= render :partial => 'cart_form' %>
  </div>
  <div class="right__item col-md-7">
    <div class="item__title">
      <%= @product.name %>
    </div>
    <div class="cost__text1">Свойства</div>
    <div class="properties">
      <%= render :partial => 'properties' %>
    </div>
    <div class="cost__text2">Посмотрите похожие товары:</div>
    <div class="similars">
      <% if @similar_products.nil? %>
          Похожие товары не были найдены.
      <% else %>
        <%= render :partial => 'similar_products' %>
      <% end %>
    </div>
  </div>
</div>
