<div id="special_categories" style="display:table">
  <% @special_categories.each do |category| %>
    <% if category.parent_id == 0 %>
      <!-- blank -->
    <% elsif category.parent_id == 1 %>
      <% if @close_main %>
        </div>
        <% @close_main = false %>
      <% end %>
      <div class="main-container">
        <div class="item">
          <hr>
          <% if category.active %>
            <h3><%= link_to category.name, category.taxon.permalink %></h3>
          <% else %>
            <h3><%= category.name %></h3>
          <% end %>
        </div>
      <% @close_main = true %>
    <% elsif category.taxon %>
      <div class="item">
        <h5><%= link_to category.taxon.name, category.taxon.permalink %></h5>
      </div>
    <% end %>
  <% end %>
  <% if @close_sub %>
    </div>
  <% end %>
  <% if @close_main %>
    </div>
  <% end %>
</div>
