<section class="catalogue col-xs-12">
  <div class="wrapper">
    <h1 class="cc-white">Сайт находится в разработке..</h1>
    <h3 class="cc-white">Наберитесь терпения, скоро мы будем вас радовать! :)</h3>
  </div>
</section>
<div class="clearfix"></div>
