//Add your custom bootstrap variables here, see https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss for full list of variables.

@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";

// -- Spree Custom Header and Footer ---------------------
#spree-header {
  //background: $brand-primary asset-url('spree_header.jpg') center center;
  //background-size: cover;
  //margin-bottom: $line-height-computed;

  #header {
    background: rgba($gray-darker, 0.4);
    padding: $line-height-computed 0;
  }

  #logo {
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .nav a {
    color: white;

    &:hover, &:focus {
      background: rgba($gray-darker, 0.4);
    }
  }

  .navbar {
    border: 0;
    margin-bottom: 0;
  }
}

#spree-footer {
  background: $gray-dark;
  padding-top: $padding-base-horizontal;
  margin-top: $line-height-computed;
  color: white;
}

// -- Spree Layout Custom Rules -------------------------

.alert-notice { @extend .alert-success; }
.alert-error, .alert-registration_error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }

.product-body {
  height: 170px;
}

.progress-steps {
  margin-top: $line-height-computed;
}

h1 {
  margin-bottom: 30px;
}

// Center cart line items
table {
  &.table > tbody > tr {
    &.line-item td, &.stock-item td {
      vertical-align: middle;
    }
  }

  &#line-items {
    > tbody, > tfoot {
      > tr > td {
        vertical-align: middle;

        &.order-qty {
          text-align: center;
        }
      }
    }
  }
}

// Footer links
#footer-left a {
  color: lighten($brand-primary, 20);

  &:hover {
    color: lighten($brand-primary, 10);
  }
}

// Updated credit-card image
#credit-card-image {
  margin-top: -10px;
}

.existing-credit-card-list td {
  padding: 5px;
}

#link-to-login {
  margin-right: -10px;
}

.btn-success {
  background-color: #29B71D;
}
