<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="terms" class="row" data-hook>
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <p>
        <h2 class="panel-title">Оплата:</h3>
      </p>
      <p>
        <!-- <div>1) Минимальная сумма заказа для выставления счёта составляет 5000 рублей;</div> -->
        <div>1) Для юридических лиц оплата производится только по безналичному расчету путем перечисления денежных средств с расчетного счета Клиента на расчетный счет ООО «Вокругторг»:</div>
        <div>2) Счет на оплату товара Вы получаете по электронной почте, указанной в заказе;</div>
        <div>3) После оформления заказа с Вами свяжется наш оператор отдела продаж для уточнения полных реквизитов Вашей организации;</div>
      </p>
      <p>
        <i>Обращаем Ваше внимание, что счет действителен в течение 3 (трёх) банковских дней;
        Пожалуйста, перед оплатой внимательно проверьте реквизиты организации.</i>
      </p>
      <br>

      <p>
        <h2 class="panel-title">Оформление заказа:</h3>
      </p>
      <p>
        <div>1) Положить товар(ы) в корзину;</div>
        <div>2) Кликнуть на кнопку «Оформить заказ» (предварительно проверив товары в корзине, если это необходимо), указать Ваши контактные данные (телефон, email) или данные Вашей организации (реквизиты); информацию о  желаемом способе получения.</div>
        <div>3) Получить подтверждение об обработке заказа;</div>
        <div>4) Ожидать звонка менеджера (обычно не более 30 минут после оформления заказа в рабочее время);</div>
        <div>5) Менеджер уточнит детали заказа и офрмит его.</div>
      </p>
      <p>
        <i>В случае, отсутствия звонка от менеджера связаться с торговой площадкой по телефону указаннному на сайте.</i>
      </p>
      <br>

      <p>
        <h2 class="panel-title">Получение товара:</h3>
      </p>
      <p>
        Для Вашего удобства, забрать товар можно тремя способами:
      </p>
      <p>
        <div>1) Самостоятельное получение (самовывоз);</div>
        <div>2) Доставка товара по указанному Вами адресу;</div>
        <div>3) Получение товара на нашей точке выдачи по адресу:</div>
      </p>  
      <p>
        Г. Москва, ул. Ижорская,д. 8, стр. 2, офис 14
      </p>
    </div>
  </div>
</div>
