Новый заказ от <%= Time.now.strftime('%H:%M %d.%m.%y') %>

Пользователь ввел следующие поля:

<% unless @data['email'].empty? %>
  Email: <%= @data['email'] %>
<% end %>
<% unless @data['phone'].empty? %>
  Email: <%= @data['phone'] %>
<% end %>
<% unless @data['name'].empty? %>
  Email: <%= @data['name'] %>
<% end %>

И оставил заказ на товары:
<% @products.each do |item| %>
  <%= item.name %>
<% end %>