<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новое сообщение из страницы "Гарантии" от <%= Time.now.strftime('%H:%M %d.%m.%y') %></h1>
    <p>
      <strong>Пользователь ввел следующие поля:</strong>
    </p>
    <% unless @data['invoice'].empty? %>
      <p>
        <strong>Номер накладной/заказа:</strong> <%= @data['invoice'] %>
      </p>
    <% end %>
    <% unless @data['contacts'].empty? %>
      <p>
        <strong>Контакты:</strong> <%= @data['contacts'] %>
      </p>
    <% end %>
    <% unless @data['item_name'].empty? %>
      <p>
        <strong>Наименование товара:</strong> <%= @data['item_name'] %>
      </p>
    <% end %>
    <% unless @data['message'].empty? %>
      <p>
        <strong>И оставил сообщение:</strong>
      </p>
      <p>
        <%= @data['message'] %>
      </p>
    <% end %>
  </body>
</html>
