<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новый заказ от <%= Time.now.strftime('%H:%M %d.%m.%y') %></h1>
    <p>
      <strong>Пользователь ввел следующие поля:</strong>
    </p>
    <% unless @data['email'].empty? %>
      <p>
        <strong>Email:</strong> <%= @data['email'] %>
      </p>
    <% end %>
    <% unless @data['phone'].empty? %>
      <p>
        <strong>Телефон:</strong> <%= @data['phone'] %>
      </p>
    <% end %>
    <% unless @data['name'].empty? %>
      <p>
        <strong>Имя:</strong> <%= @data['name'] %>
      </p>
    <% end %>
    <p>
      <strong>И оставил заказ на товары:</strong>
    </p>
    <% @line_items.each_with_index do |item, index| %>
      <strong>#<%= index %></strong>
      <p>Наименование: <%= item.product.name %></p>
      <p>Количество: <%= item.quantity %></p>
    <% end %>
  </body>
</html>
