Новое сообщение из страницы "Гарантии" от <%= Time.now.strftime('%H:%M %d.%m.%y') %>

Пользователь ввел следующие поля:

<% unless @data['invoice'].empty? %>
  Номер заказа/накладной: <%= @data['invoice'] %>
<% end %>
<% unless @data['contacts'].empty? %>
  Контакты: <%= @data['contacts'] %>
<% end %>
<% unless @data['item_name'].empty? %>
  Наименование продукции: <%= @data['item_name'] %>
<% end %>
<% unless @data['message'].empty? %>
  И оставил Сообщение:
  <%= @data['message'] %>
<% end %>
