<header class="header logged-in">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header col-sm-3 col-md-2">
          <!--<div class="logo navbar-brand">-->
            <!--<img src="/assets/images/logo.png" />-->
          <!--</div>-->
          <%= link_to(
                image_tag(image_url('logo.png'), id: 'logo'),
                spree.admin_path,
                class: "logo navbar-brand"
              ) %>
          <span class="navbar-toggle" id="sidebar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
        </div>
        <div class="col-sm-9 col-md-10">
          <div class="navbar-right" data-hook="admin_login_navigation_bar"></div>
        </div>
      </div>
    </div>
  </nav>

</header>
