// Place all the styles related to the catalogue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.catalogue {
  > .wrapper {
    padding: 150px 0;
  }
  .col {
    width: 355px;
    float: left;
    &:first-of-type {
      margin-right: 30px;
    }
  }
  .item {
    position: relative;
    width: 340px;
    height: 45px;
    margin: auto;
    font-size: 15px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    .icon {
      margin: 0;
    }
    .text {
      position: absolute;
      top: 1px;
      right: -40px;
      width: 328px;
    }
  }
}
