.sidebar-wrap {
  z-index: 1000;
  margin-top: 40px;
  .sidebar-container {
    width: 300px;
    background-color: #3e4277;
    border: 1px solid #54a3e6;
    border-radius: 3px;
    font-size: 13px;
    .item {
      color: white;
      position: relative;
      border-bottom: 1px solid #54a3e6;
      padding: 6px 0px 6px 6px;
      cursor: pointer;
      &:hover {
        background-color: #22669f;
      }
      > .inner-text {
        display: table-cell;
        padding-left: 8px;
        vertical-align: middle;
      }
    }
    .children-container {
      position: absolute;
      top: -1px;
      left: 298px;
      background-color: #22669f;
      border: 1px solid #54a3e6;
      border-radius: 3px;
      padding: 5px 8px;
      min-width: 250px;
      display: none;
      > .child {
        line-height: 1.8;
        span > a {
          color: white;
          text-decoration: underline;
          &:hover {
            color: #29b71d;
          }
        }
      }
    }
  }

  @for $i from 2 through 19 {
    .sidebar-icon-#{$i} {
      background: image-url('sidebar-icon-#{$i}') no-repeat;
      width: 30px;
      height: 25px;
      background-size: contain;
      display: table-cell;
      vertical-align: middle;
      background-position: 50% 50%;
    }
  }
}