// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#events {
  padding: 40px 0;

  .message {
    margin-bottom: 20px;
  }

  .image-container {
    position: relative;
    float: right;
    text-align: center;
    margin: 0 auto 20px;
    width: 300px;
    height: 150px;
    .image {
      position: relative;
      border-radius: 8px;
      width: 300px;
      height: 150px;
      background-size: contain;
    }
    .shade {
      background-color: #333;
      opacity: 0.5;
      content: "";
      position: absolute;
      width: 100%;
      height: 35px;
      bottom: 0;
      left: 0;
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 24px;
    }
  }

  .text-container {
    float: left;
    margin-bottom: 15px;
    > .title {
      color: #3783dd;
      width: 100%;
      margin-bottom: 5px;
      font-size: 20px;
    }
    > .inner-text {
      font-size: 15px;
      color: white;
    }
  }
  hr {
    border-color: #3783dd;
  }

  // SCREENS //
  @media (min-width: 768px) and (max-width: 991px) {
    .image-container {
      float: none;
      overflow: hidden;
      > img {
        margin: 0 auto;
        display: block;
      }
    }
    .text-container {
      .title {
        text-align: center;
      }
    }
  }

  @media (min-width: 400px) and (max-width: 767px) {
    .image-container {
      float: none;
      overflow: hidden;
      > img {
        margin: 0 auto;
        display: block;
      }
    }
    .text-container {
      .title {
        text-align: center;
      }
    }
  }

  @media (max-width: 339px) {
    .image-container {
      float: none;
      overflow: hidden;
      > img {
        margin: 0 auto;
        display: block;
      }
    }
    .text-container {
      .title {
        text-align: center;
      }
    }
  }

  @media (max-width: 992px) {
    .text-container {
      > .title {
        margin-bottom: 10px;
      }
      > .inner-text {
        text-align: justify;
      }
    }
  }
}
