*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  
}
body input:required:valid,
body textarea:required:valid {
  
}
body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
}
.content{
  width: 1000px;
  margin: auto;
}
.header{
  background: #292748;
  min-height: 160px;
  border-bottom:10px solid #3783dd;
}
.search{
  float: left;
  margin-top: 40px;
  margin-left: 25px;
  
}
.search img{
  float: left;
  margin-right: 5px;
}
.search input{
  font-family: "OpenSansSemibold";
  float: left;
  border: none;
  width: 180px;
  height: 35px;
  border-radius: 4px;
  padding-left: 10px;
  font-size: 17px;
}
.search input::-webkit-input-placeholder {color:#3783dd;}
.search input::-moz-placeholder          {color:#3783dd;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#3783dd;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#3783dd;}
.search .do-search{
  font-family: "OpenSansLight";
  float: left;
  border: none;
  height: 35px;
  width: 53px;
  margin-left: 10px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  outline: none;
  background: #00c549;
  padding-left: 5px;
}
.logo{
  float: left;
  margin-left: 60px;
}
.phone{
  float: left;
  margin-left: 20px;
  margin-top: 40px;
}
.phone div{
  float: left;
}
.phone img{
  float: left;
}
.phone div span{
  display: block;
  text-align: center;
  color:white;
  font-family: "OpenSansLight";
}
.phone div span:nth-child(1){
  font-size: 16px;
}
.phone div span:nth-child(2){
  font-size: 12px;
}
.basket{
  position: relative;
  margin-top: 30px;
  margin-left: 25px;
  float: left;
}
.basket div{
  width: 22px;
  position: absolute;
  right: 11px;
  top:11px;
  font-family: "OpenSansRegular";
  color:white;
  font-size: 30px;
  text-align: center;
}
.menutop ul{
  padding: 0;
  margin: 0;
}
.menutop ul li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
.menutop ul li a{
  text-decoration: none;
  color:white;
  font-family: "OpenSansLight";
  font-size: 14px;
}
.menutop ul li a.active, .menutop ul li a:hover{
  color: #29b71d;
}
.menutop{
  clear: both;
  width: 330px;
  margin: auto;
  margin-top: 20px;
}
.menu{
  width: 300px;
  border:1px solid #3f92d8;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 45px;
  position: relative;
  float: left;
}
.menu ul{
  margin: 0;
  padding: 0;
}

.menu ul li span:nth-child(1){
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  width: 40px;
  display: block;
  height: 100%;
  float: left;
  margin-left: 2px;
}
.menu ul li span:nth-child(2){
  float: left;
}
.menu > ul > li{
  
  line-height: 1; 
  list-style: none;
  display: block;
  
  height: 30px;
  overflow: hidden;
  background: #3e4277;
  border-bottom:1px solid #3f92d8;
}
.menu ul li a{
  text-decoration: none;
  color:white;
  font-family: "OpenSansLight";
  font-size: 13px;
}
.mainblock{
  border-bottom: 10px solid #00c949;
  padding-bottom: 10px;
  overflow: hidden;
  background: #333059;
}
.menu ul li:hover{
  background: #22669f;
  cursor: pointer;
}
.rightcontent{
  float: right;
  margin-right: 45px;
  margin-top: 10px;
}
.stock{
  width: 540px;
  height: 180px;
  padding: 0 20px;
  background-image: url(../img/act.png);
  background-repeat: no-repeat;
  overflow: hidden;
  
}
.title{
  text-align: center;
  font-family: "OpenSansRegular";
  color: #d0d7cc;
  font-size: 15px;
  
}
.title1{
  text-align: center;
  font-family: "OpenSansRegular";
  color: #ffffff;
  font-size: 22px;
  
}
.cost{
  color:black;
  font-family: "OpenSansRegular";
  text-align: center;
  font-size: 44px;
  text-shadow: 1px 1px 29px white;
}
.stock img{
  top: 60px;
  position: absolute;
  width: 120px;
  left: 80px;
}
.stock-slider .item{
  outline: none;
  position: relative;
  padding-top: 32px;
}
.stock-slider .slick-arrow{
  font-size: 0;
  width: 30px;
  height: 30px;
  outline: none;
  color:transparent;
  background: transparent;
  border: none;
  z-index: 2;
  padding: 0;
  position: absolute;
      
}
.stock-slider .slick-prev:before{
  font-size: 20px;
  color: #fff;
  font: normal normal normal 34px/1 FontAwesome;
  content: "\f104";
}
.stock-slider .slick-next:before{
  font-size: 20px;
  color: #fff;
  font: normal normal normal 34px/1 FontAwesome;
  content: "\f105";
}
.stock-slider .slick-prev{
  left: 0px;
  top: 45%;
}
.stock-slider .slick-next{
  right: 10px;
  top: 45%;
}
.stocks__button div{
  cursor: pointer;
  text-align: center;
  color:white;
  height: 30px;
  width: 125px;
  border-radius: 8px 8px 0 0;
  font-size: 14px;
  font-family: "OpenSansRegular";
  line-height: 30px;
  float: left;
  overflow: hidden;
}
.stocks__button{
  overflow: hidden;
}
.stocks{
  margin-top: 25px;
}
.stocks__button div:nth-child(1){
  margin-left: 25px;
  background: #1a538e;
}
.stocks__button div:nth-child(2){
  margin-left: 5px;
  background: #108c3c;
}
.stocks__block{
  background: #3783dd;
  border-radius: 8px;
  width: 540px;
  height: 305px;
  padding: 5px 20px;
}
.stocko{
  float: left;
  border-radius: 8px;
  background: white;
  width: 160px;
  text-align: center;
  height: 100%;
}
.stocko:nth-child(1),.stocko:nth-child(2){
  margin-right: 10px;
}
.pagess1 .item__img img {
  background-color: white;
}
.stocko__title{
  text-align: center;
  font-family: "OpenSansRegular";
  height: 20px;
  border-bottom: 1px solid #dddada;
  line-height: 20px;
  font-size: 12px;
}
.stocko__name{
  text-align: center;
  font-family: "OpenSansRegular";
  font-size: 14px;
  margin-top: 15px;
  height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stocko__name a{
  color: #1c5c92;
}
.stocko > img{
  text-align: center;
  width: 140px;
  height: 140px;
  background-size: contain;
}
.cost1{
  text-align: center;
  float: left;
  width: 125px;
  height: 60px;
  line-height: 60px;
  font-family: "OpenSansRegular";
  color:black;
  border-top: 1px solid #dddada;
  border-right: 1px solid #dddada;
  font-size: 20px;
  font-weight: 700;
  margin-top: 35px;
}
.cost1 img{
  margin-bottom: 5px;
  width: 13px;
}
.cost2{
  float: left;
}
.cost2 span:nth-child(1){
  cursor: pointer;
  width: 35px;
  display: block;

  border-top: 1px solid #dddada;
  border-bottom: 1px solid #dddada;
  padding: 7px 0;
  text-align: center;
  margin-top: 35px;
}
.cost2 > span:nth-child(2){
  width: 35px;
  display: block;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
   color:black;
  text-align: center;
  
}
.cost2 span:nth-child(2) i{
  display: inline-block;  
  margin: 0 2px;
  cursor: pointer;
  
  
  color: #349945;
}
.cost2 span:nth-child(2) span{
  font-family: "OpenSansRegular";
  display: inline-block;
}
.footer{
  background: #292748;
  min-height: 120px;
  overflow: hidden;
}
.footer_text{
  text-align: center;
  font-family: "OpenSansRegular";
  color:white;
  font-size: 12px;
  margin-top: 20px;
  line-height: 1.1;
}
.menu1{
  display: none;
}
.mobile-menu{
  display: none;
  position: relative;
  z-index: 2000;
}
.mobile-menu span{
  display: block;
  float: left;
}
.mobile-menu > span:nth-child(1){
  background: #dadada;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius:8px;
  padding: 7px;
}
.mobile-menu > span:nth-child(2){
  line-height: 30px;
  height: 35px;
  font-family: "OpenSansRegular";
  margin-left: 10px;
  color:white;
  font-size: 12px;
}
.mobile-menu > span:nth-child(1) span{
  display: block;
  height: 1px;
  background: #b4b4b4;
  width: 100%;
}
.mobile-menu > span:nth-child(1) span:nth-child(1){
  
}
.mobile-menu > span:nth-child(1) span:nth-child(2){
  margin-top: 6px;
}
.mobile-menu > span:nth-child(1) span:nth-child(3){
  margin-top: 6px;
}
.hoverblock{
  display: none;
  height: 145px;
  width: 105px;
  text-align: center;
  background: #dadada;
  position: absolute;
  top: 35px;
  border-radius:8px;
}
.mobile-menu:hover .hoverblock{
  display: block;
}
.hoverblock ul{
  margin: 0;
  padding: 0;
}
.hoverblock ul li{
  list-style: none;
  height: 29px;
  color:black;
  font-family: "OpenSansRegular";
  line-height: 25px;
  border-bottom: 1px solid #c1c1c1;
}
.hoverblock ul li:nth-last-child(1){
  border-bottom: none;
}
.hoverblock ul li a{
  color:black;
  text-decoration: none;
}
.hoverblock ul li a:hover{
  color: #0ace21;
}
.mainblock1{
  background: url(/assets/bg.png) no-repeat;
  height: 880px;
  -webkit-background-size: cover;
  background-size: cover;
}
.white-bg {
  padding-bottom: 0;
  background: white
}
.title__about{
  text-align: center;
  font-family: "OpenSansBold";
  color:white;
  padding-top: 15px;
}
.text__about{
  font-size: 12px;
  color:white;
  margin-top: 10px;
  padding: 0 75px;
  font-family: "OpenSansRegular";
}
.title__about1{
  font-size: 16px;
  color:white;
  margin-top: 10px;  
  text-align: center;
  font-family: "OpenSansRegular";
}
.aboutb{
  float: left;
}
.aboutb span{
  float: left;
}
.aboutb > span{
  font-family: "OpenSansRegular";
  font-size: 12px;
  color:white;
  
}
.aboutb > span:nth-child(2){
  width: 325px;
  margin-left: 15px;
  text-indent: 10px;
}
.aboutb > span span{
  color: #29b71d;
}
.aboutsb{
  overflow: hidden;
  padding: 0 90px;
  margin-top: 25px;
}
.aboutb1{
  float: right;
}
.aboutsb3{
  margin-top: 60px;
}
.about__text2{
  font-family: "OpenSansRegular";
  text-align: center;
  color: #333059;
  margin-top: 300px;
}
.about__text3{
  font-family: "OpenSansItalic";
  text-align: center;
  color: #333059;
  margin-top: 30px;
  padding: 0 150px;
}
.items-table .headert .td-name {
  padding-left: 10px;
  width: 75%;
}
.items-table .headert .td-price {
  
}
.items-table .headert .td-count {
  
}
.items-table .headert .td-summary {
  
}
.basket__table .items-table {
  border-bottom: 20px solid black;
}
.basket__table .headert td{
  height: 15px;
  background: #000;
  color:#c0c0c0;
  font-family: "OpenSansSemibold";
  font-size: 12px;
  padding: 1px 0;
}
.basket__table tr.black td{
  height: 15px;
  background: black;
  width: 100%;
}
.basket__table .item td{
  background: white;
  vertical-align: middle;
  font-size: 14px;
  color: #333059;
  font-family: "OpenSansSemibold";
}
.basket__table .item td:nth-child(1) span{
  display: block;
  float: left;
}
.basket__table .item td:nth-child(1) span:nth-child(1){
  width: 75px;
  height: 75px;
  background: #333059;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.basket__table .item span a img {
  width: 75px;
  height: 75px;
  background-color: white;
  background-size: contain;
}
.basket__table .item .item-name {
  padding: 0 65px;
  font-size: 14px;
  font-family: "OpenSansSemibold";
  width: 85%;
  padding: 30px 20px;
}
.basket__table .item .item-name > a {
  color:#49476b;
}
.basket__table{
  margin-top: 10px;
}
.basket__table .item td:nth-child(3){
  padding: 2px 5px;
  text-align: center;
}
.basket__table .item td:nth-child(3) input{
  display: block;
  border:1px solid #c1c1c1;
  width: 35px;
  height: 20px;
}
.basket__table > table {
  width: 100%;
}
.basket__table1{
  background: black;
  display: none;
  padding: 5px 10px;
}
.itemsb{
  background: white;
  height: 100px;
  border-bottom: 1px solid #b4b4b4;
  overflow: hidden;
}
.iteminfo span{
  display: block;
}
.iteminfo span:nth-child(1){
  float: left;
  width: 75px;
  height: 75px;
  background: #333059;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.iteminfo span a img {
  width: 75px;
  height: 75px;
  background-color: white;
  background-size: contain;
}
.iteminfo{
  width: 65%;
  float: left;
}
.iteminfo .name {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}
.iteminfo span:nth-child(2) a{  
  color:#49476b;
  height: 100px;
  width: 80%;
  
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  font-family: "OpenSansSemibold";
}
.iteminfo1{
  color:#49476b;
  font-size: 14px;
  float: right;
  text-align: center;
  font-family: "OpenSansSemibold";
  padding-top: 7px;
}
.iteminfo2 > span:nth-child(2){
  color:#49476b;
  
}
.iteminfo2 {
  margin-top: 25px;
  text-align: center;
}
.iteminfo2 input{
  display: block;
  border:1px solid #c1c1c1;
  width: 35px;
  height: 20px;
  margin: auto;
}
.iteminfo3{
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 38px;
  cursor: pointer;
}
.basket__title{
  color: #f3f3f5;
  font-family: "OpenSansSemibold";
  margin-top: 10px;
  margin-left: 10px;
}
.button__left{
  float: left;
  margin-top: 20px;
}
.button__left input[type="submit"]{
  background: #fff;
  column-rule: #43415e;
  border:none;
  border-radius: 6px;
  height: 30px;
  font-family: "OpenSansSemibold";
  font-size: 12px;
  float: left;
  outline: none;
  margin-left: 10px;
}
.button__left div{
  padding-top: 6px;
  margin-left: 10px;
  color: white;
  font-family: "OpenSansRegular";
  float: left;
  font-size: 14px;
}
.button__left div a{
  text-decoration: none;
  color: #00c549;
}
.button__right{
  float: right;
  margin-right: 45px;
  margin-top: 15px;
}
.button__right button{
  color: white;
  font-family: "OpenSansRegular";
  float: left;
  font-size: 14px;
  border-radius: 6px;
  border:none;
  outline: none;
}
.button__right button:nth-child(1){
  background: #3783dd;
  height: 30px;
  padding: 0 10px;
  margin-top: 6px;
}
.button__right button:nth-child(2){
  background: #29b71d;
  height: 40px;
  padding: 0 10px;
  margin-left: 45px;
}
.black{
  height: 15px;
  width: 944px;
  background: black;
}
.b2b{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 260px;
}
.b2b2{
  margin-top: 60px;
  font-family: "OpenSansBold";
  font-size: 16px;
  padding: 0 15%;
  color:white;
}
.cat{
  font-family: "OpenSansSemibold";
  color: #cdccd6;
  border-top: 1px solid #dadada;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  padding-bottom: 0px;
}
.cat span{
  display: block;
  line-height: 2;
  color: #0e99fb;
  
}
.rightcontent2{
  float: left;
  margin-left: 10px;
}
.rightcontent2 .items__block .stocko{
  margin-right: 5px;
}
.rightcontent2 .items__block .stocko .stocko__title{
  border-bottom: none;
}
.menu__item__page{
  margin-left: 10px;
}
.items__block{
  overflow: hidden;
  margin-top: 5px;
}
.items__block1{
  margin-top: 10px;
}
.pagination div{
  height: 35px;
  border-right:1px solid #dddddd;
  float: left;
  background: white;
  border-top:1px solid #dddddd;
  border-buttom:1px solid #dddddd;
  text-align: center;
  line-height: 35px;
  font-family: "OpenSansRegular";
  color:#947fbe;
  font-size: 14px;
}
.pagination div i{
  font-size: 10px;
}
.pagination div:nth-child(6),.pagination div:nth-child(1),.pagination div:nth-child(2),.pagination div:nth-child(3),.pagination div:nth-child(4),.pagination div:nth-child(5){
  width: 35px;
}
.pagination div:nth-child(7),.pagination div:nth-child(8){
  width: 120px;
}
.pagination div:nth-child(1){
  border-radius:4px 0 0 4px;
}
.pagination div:nth-child(8){
  border-radius:0 4px 4px 0;
}
.pagination .current{
  background: #947fbe;
  color:white;
  font-family: "OpenSansSemibold";
  border-top: none;
}
.pagination div:hover{
  cursor: pointer;
  background: #947fbe;
  color:white;
  font-family: "OpenSansSemibold";
  border-top: none;
  border:none;
}
.menu-cat{
  background: #3e4277;
  border-radius:8px;
  width: 160px;
  height: 25px;
  cursor: pointer;
  line-height: 22px;
  border:1px solid #00a8ec;
  margin-left: 10px;
  margin-top: 10px;
  display: none;
  position: relative;
}
.mc span{
  display: block;
  float: left;
}
.mc > span:nth-child(2){
  font-family: "OpenSansRegular";
  font-size: 14px;
  color:white;
  margin-left: 10px;
}
.mc > span:nth-child(1) span{
  display: block;
  margin-top: 5px;
  height: 1px;
  background: #c1c1c1;
  width: 30px;
}
.mc > span:nth-child(1){
  width: 30px;
  margin-left: 10px;
}
.menu__item__page2{
  display: none;
  position: absolute;
  left: -46px;
  padding-top: 20px;
}
.menu-cat:hover .menu__item__page2{
  display: block;
  
  
}
.menu__item__page1{
  display: block !important;
}
.menu ul div ul{
  margin: 0;
  padding: 0;
}
.menu ul div ul li{
  list-style: none;
  color: #c8d9e7;
}
.menu ul div ul li a{
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.5;
  font-family: "OpenSansLight";
}
.menu ul div ul li a:hover{
  color:#21c827;
}
.menu > ul > li:hover div{
  display: block;
}
.menu div{
  display: none;
  padding-left: 10px;
  left: 300px;
  border-radius: 8px;
  position: absolute;
  width: 250px;
  height: 135px;
  border:1px solid #00a8ec;
  background: #22669f;
}
.pages,.pages1{
  min-height: 35px;
  text-align: center;
  background: black;
  color:white;
  font-family: "OpenSansRegular";
  padding: 5px 10px;
  font-size: 14px;
  
  margin-top: 5px;
}
.pagess,.pagess1{
  padding: 0 10px;
}
.pages1{
  text-align: left;
}
.cost__text{
  color:white;
  font-family: "OpenSansSemibold";
  font-size: 12px;
  margin-top: 10px;
}
.cost__item{
  color:white;
  font-family: "OpenSansSemibold";
  font-size: 14px;
  margin-top: 5px;
}
.left__item{
  float: left;
  margin-top: 10px;
}
.left__item input{
  font-family: "OpenSansSemibold";
  padding-left: 5px;
  margin-top: 10px;
  width: 100px;
  height: 25px;
  border-radius:8px;
  border:none;
  background: white;
  outline: none;
  float: left;
  color: black;
}
.left__item button{
  margin-top: 10px;
  margin-left: 5px;
  outline: none;
  font-size: 12px;
  height: 25px;
  border-radius:8px;
  border:none;
  color: #fff;
  font-family: "OpenSansSemibold";
  background: #29b71d;
}
.item__img{
  width: 315px;
}
.item__img img{
  width: 100%;
}
.cost__item img{
  margin-top: -2px;
}
.right__item{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}
.item__title{
  font-family: "OpenSansRegular";
  font-size: 16px;
  color: #fff;
}
.cost__text1{
  color:white;
  font-family: "OpenSansRegular";
  font-size: 14px;
  margin-top: 30px;
}
.properties{
  border-radius:8px;
  width: 610px;
  background: white;
  margin-top: 5px;
  overflow: hidden;
}
.propertie{
  overflow: hidden;
  padding-bottom: 5px;
  border-bottom: 1px solid #c1c1c1;
  padding: 10px 0px;
}
.propertie span{
  overflow: hidden;
  display: block;
  float: left;
  
}
.propertie span:nth-child(1){
  font-family: "OpenSansBold";
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
}
.propertie span:nth-child(2){
  text-transform: uppercase;
  font-size: 10px;
  font-family: "OpenSansSemibold";
}
.propertie:nth-last-child(1){
  border-bottom: none;
}
.cost__text2{
  color:white;
  font-family: "OpenSansRegular";
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.similars{
  overflow: hidden;
  width: 501px;
  margin: auto;
}
