/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("/assets/RobotoRegular/RobotoRegular.eot");
  src: url("/assets/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("/assets/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("/assets/RobotoLight/RobotoLight.eot");
  src: url("/assets/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("/assets/RobotoLight/RobotoLight.woff") format("woff"),
  url("/assets/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("/assets/RobotoMedium/RobotoMedium.eot");
  src: url("/assets/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("/assets/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("/assets/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("/assets/RobotoBold/RobotoBold.eot");
  src: url("/assets/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/RobotoBold/RobotoBold.woff") format("woff"),
  url("/assets/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "OpenSansItalic"; */
@font-face {
  font-family: "OpenSansItalic";
  src: url("/assets/OpenSans/OpenSans-Italic.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* font-family: "OpenSansSemibold"; */
@font-face {
  font-family: "OpenSansSemibold";
  src: url("/assets/OpenSans/OpenSans-Semibold.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url("/assets/OpenSans/OpenSans-Light.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("/assets/OpenSans/OpenSans-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansRegular"; */
@font-face { 
  font-family: "OpenSansRegular";
  src: url("/assets/OpenSans/OpenSans-Regular.eot");
  src: url("/assets/OpenSans/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
  url("/assets/OpenSans/OpenSans-Regular.woff") format("woff"),
  url("/assets/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
