/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1000px) {
  
  .basket__table{
    display: none;
  }
  .basket__table1{
    display: block;
    margin-top: 10px;
  }
  .content{
    max-width: 100%;
  }
  .mainblock1{
    background: #333059;
  }
  .text__about,.aboutsb{
    padding: 0 10px;
  }
  .aboutb{
    overflow: hidden;
    float: none;
    margin-top: 20px;
  }
  .aboutsb3{
    margin-top: 00px;
  }
  .aboutb > span{
    width: 70px;
    
  }
  .aboutb > span:nth-child(1){
    text-align: center;
  }
  .aboutb > span:nth-child(2){
    width: 70%;
  }
  .about__text2{
    margin-top: 35px;
  }
  .mainblock1{
    height: auto;
    padding-bottom: 50px;
  }
  .about__text2,.about__text3{
    color: white;
    padding: 0 5px;
  }
  .menu__item__page{
    display: none;
  }
  .menu-cat{
    display: block;
    margin-left: 0;
  }
  .item__img{
    margin: auto;
  }
  .left__item{
    width: 100%;
    float: none;
    text-align: center;
  }
  .right__item{
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .item__title{
    margin-top: 20px;
    text-align: center;
  }
  .left__item input{
    float: none;
  }
  .properties{
    width: 100%;
    
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  
  .pages{
    border-radius:8px;
  }
  .items__block:nth-child(4){
    display: none;
  }
  
  .rightcontent2{
    float: none;
    width: 690px;
    margin-left: 0;
    
    margin-left: 30px;
  }
  .menutop{
    margin-top: 60px;
  }
  .search{
    position: absolute;
    margin-left: -141px;
    left: 50%;
    top: 75px;
  }
  .header{
    position: relative;
    height: 200px;
  }
  .phone{
    position: absolute;
    right: 20px;
    top: 0;
  }
  .basket{
    position: absolute;
    right: 20px;
    top: 60px
  }
  .logo{
    margin-left: 0;
    float: none;
    text-align: center;
  }
  
}
@media only screen and (max-width : 965px) {
  .rightcontent{
    margin-right: 0;
    
  }
  .menu{
    display: none;
  }
  .stocks__button{
    width: 540px;
    margin: auto;
  }
  .stocks__block{
    margin: auto;
  }
  .stock{
    margin: auto;
    
  }
  .rightcontent{
    width: 100%;
  }
}
@media only screen and (max-width : 700px) {
  
  .phone{
    left: 50%;
    margin-left: -56px;
    top: 50px;
  }
  .basket{
    top: 80px;
  }
  .menutop{
    display: none;
  }
  .search{
    top: 90px;
    left: 10px;
    margin-left: 0;
  }
  .phone img{
    width: 25px;
  }
  .phone div span:nth-child(1){
    font-size: 11px;
  }
  .phone div span:nth-child(2){
    font-size: 9px;
  }
  .header{
    height: 220px;
  }
  .mobile-menu{
    display: block;
    position: absolute;
    left: 10px;
    bottom: 0px;
    
  }
}
@media only screen and (max-width : 690px) {
  .mc > span:nth-child(2){
    display: none;
  }
  .menu-cat{
    width: 50px;
  }
  .pagination div{
    line-height: 24px;
    height: 25px;
    font-size: 10px;
  }
  .pagination div:nth-child(6),.pagination div:nth-child(1),.pagination div:nth-child(2),.pagination div:nth-child(3),.pagination div:nth-child(4),.pagination div:nth-child(5){
    width: 25px;
  }
  .pagination div:nth-child(7),.pagination div:nth-child(8){
    width: 80px;
  }
  .rightcontent2{
    position: relative;
  }
  .menu-cat{
    position: absolute;
    left: -60px;
  }
  .rightcontent2 .items__block .stocko{
    margin-top: 5px;
  }
  .rightcontent2{
    width: 330px;
    margin: auto;
  }
  .button__left{
    float: none;
    margin: auto;
    width: 320px;
    overflow: hidden;
    margin-top: 20px;
  }
  .button__right{
    padding-left: 55px;
    margin-top: 20px;
    overflow: hidden;
    float: none;
    margin: 20px auto;
    width: 341px;
  }
  .button__right button:nth-child(2){
    margin-left: 30px;
  }
  .search button{
    display: none;
  }
  .search input{
    display: none;
  }
}
@media only screen and (max-width : 540px) {
  .menu-cat{
    display: none;
  }
  .menu1{
    display: block;
    width: 300px;
    margin: 10px auto;
    float: none;
  }
  .stock{
    display: none;
  }
  .stocks{
    margin-top: 5px;
    padding: 0 5px;
  }
  .stocks__block{
    width: 100%;
  }
  .stocko1{
    display: none;
  }
  
}
@media only screen and (max-width : 490px) {
  .similars{
    width: 100%;
    width: 160px;
  }
  .similars .stocko{
    margin-top: 10px !important;
    overflow: hidden;
  }
}
@media only screen and (max-width : 450px) {
  .mobile-menu{
    left: 50%;
    margin-left: -58px;
  }
  .stock{
    display: none;
  }
  .header{
    height: 310px;
  }
  .search{
    position: absolute;
    left: 20px;
    top: 90px;
    top:110px;
  }
  .basket{
    top: 163px;
    left: 50%;
    margin-left: -51px;
  }
  .basket div{
    left: 80px;
    margin-left: -11px;
    right: 0;
  }
  
}
@media only screen and (max-width : 400px) {
  .pagination div{
    float: none;
    margin: auto;
  }
  .pagination{
    width: 100%;
  }
  .pagination div:nth-child(6),.pagination div:nth-child(1),.pagination div:nth-child(2),.pagination div:nth-child(3),.pagination div:nth-child(4),.pagination div:nth-child(5){
    display: none;
  }
  .pagination div:nth-child(8),.pagination div:nth-child(7){
    border-radius:4px;
    margin-top: 10px;
  }
  .rightcontent2{
    width: 165px;
  }
  .rightcontent2 .items__block .stocko{
    overflow: hidden;
    margin-right: 0;
  }
  .items__block:nth-child(3){
    display: none;
  }
  
  
  .stocks__block{
    padding: 5px 0;
  }
  .stocko{
    
    float: none;
    margin: auto;
  }
  .stocko2{
    display: none;
  }
  .stocks__button{
    width: 280px;
    margin-left: 0;
    margin: auto;
  }
  .stocko:nth-child(1), .stocko:nth-child(2){
    margin-right: 0;
    margin-left: 0;
    margin: auto;
  }
}
@media only screen and (max-width : 360px) {
   .button__right button{
    float: none;
    display: block;
    
    
    margin: 20px auto;
  }
  .button__right button:nth-child(2){
    margin-left: 0;
    margin: 20px auto;
  }
  .button__left{
    text-align: center;
  }
  .button__left button{
    float: none;
  }
  .button__left div{
    margin-top: 10px;

    float: none;
  }
  .button__right{
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .item__img{
    width: 100%;
  }
  .propertie{
    padding-top: 15px;
  }
  .propertie span:nth-child(2){
    margin-left: 5px;
    margin-top: 10px;
  }
  .right__item{
    
  }
}
