// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#guarantees {
  padding: 50px 0 60px;
  color: #333;

  .shield-pic {
    background: image-url('shield.png') no-repeat;
    width: 183px;
    height: 212px;
    margin: 10px auto;
  }
  
  .plane-container {
    position: relative;
    height: 315px;
    > .plane-pic {
      background: image-url('plane.png') no-repeat;
      width: 86px;
      height: 107px;
      margin: 160px auto 0;
    }
  }

  .inner-text {
    margin-top: 15px;
    text-align: center;
  }

  input, textarea {
    display: block;
    margin: 30px auto 0;
    padding: 3px 10px;
    border-radius: 6px;
    border: 1px solid #999;
  }
  textarea {
    height: 80px;
  }
  input[type="submit"] {
    color: white;
    background-color: #00cf49;
    height: 40px;
  }

  .thanks {
    display: none;
    padding: 150px 0;
    text-align: center;
    font-size: 25px;
    color: #00cf49;
  }

  // SCREENS //
  @media (min-width: 768px) and (max-width: 991px) {
    .plane-container {
      height: initial;
      > .plane-pic {
        position: relative;
        margin: 60px auto 40px;
        left: 0;
      }
    }
    .shield-pic {
      margin-top: 0;
    }
    .thanks {
      padding: 40px 0 60px;
    }
    input, textarea {
      font-size: 14px;
    }
  }

  @media (min-width: 400px) and (max-width: 767px) {
    .plane-container {
      height: initial;
      > .plane-pic {
        position: relative;
        margin: 50px auto 30px;
        left: 0;
      }
    }
    .shield-pic {
      margin-top: 0;
    }
    .thanks {
      padding: 30px 0 50px;
    }
    input, textarea {
      font-size: 13px;
    }
  }

  @media (max-width: 339px) {
    .plane-container {
      height: initial;
      > .plane-pic {
        position: relative;
        margin: 35px auto 15px;
        left: 0;
      }
    }
    .shield-pic {
      margin-top: 0;
    }
    .thanks {
      padding: 15px 0 35px;
    }
    input, textarea {
      font-size: 12px;
    }
    input[type="submit"] {
      height: 30px;
    }
  }

}
