.ease-all {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.header {
  width: 1900px;
  padding: 20px 60px;
  margin: 0 auto;
  .head-container {
    width: 1040px;
    margin: 0 auto;
  }
  .w-cart {
    width: 115px;
    margin-left: 50px;
    .img {
      background: image-url('basket.png') no-repeat;
      width: 65px;
      height: 65px;
      z-index: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }
    .val {
      position: relative;
      font-size: 28px;
      font-weight: bold;
      font-family: "Open Sans", "Helvetica", sans-serif;
      line-height: 2.35;
      text-align: center;
      width: 50px;
      margin-left: -5px;
      &:before {
        content: "";
        display: block;
        background: image-url('val.png') no-repeat;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 8px;
        z-index: -1;
      }
    }
  }
  .logo {
    margin-left: 190px;
    background: image-url('logo.png') no-repeat;
    width: 273px;
    height: 72px;
  }
  .search {
    margin-top: 16px;
    position: relative;
    margin-left: 135px;
    > input {
      font-family: "Open Sans Semibold", "Helvetica", sans-serif;
      border: 0;
      width: 164px;
      height: 30px;
      border-radius: 6px;
      padding: 0 8px;
      font-size: 16px;
      color: #3783dd;
    }
  }
  .w-nav {
    clear: both;
    width: 485px;
    margin: 0 auto;
    > ul {
      li {
        display: inline-block;
        margin: 35px 15px 0 0;
        cursor: pointer;
        @extend .ease-all;
        &:last-of-type {
          margin-right: 0;
        }
        > a {
          color: white;
          &:hover, &.active {
            text-decoration: none;
            color: #29b71d;
          }
        }
      }
    }
  }
}
