//////////////// SECTIONS

section.side-catalogue {
  width: 50px;
  padding: 0 3px;
  margin-right: 20px;
  border-right: 1px solid white;
  float: left;
}

section.featured {
  margin-top: 40px;
  .wrapper {
    margin-left: 20px;
  }
  #carousel-featured {
    margin: -18px auto 0 auto;
    > .carousel-inner {
      border-radius: 6px;
    }
    .price-block {
      position: absolute;
      top: 50%;
      left: 57%;
      > * {
        display: inline-block;
        color: white;
      }
    }
  }
  #roll img {
    border-radius: 8px;
    width: 963px;
    .item {
      position: relative;
    }
    .price-block {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media (min-width: 768px) {
    .price-block > * {
      font-size: 30px !important;
    }
  }

  @media (min-width: 400px) and (max-width: 767px) {
    .price-block > * {
      font-size: 20px !important;
    }
  }

  @media (max-width: 339px) {
    .price-block > * {
      font-size: 18px !important;
    }
  }
}

section.sale, #products {
  .wrapper {
    margin: 38px;
  }
  .list-box {
    position: relative;
    margin-left: -36px;
    margin-bottom: 0;
    z-index: 1;
  }
  .w-sale {
    position: relative;
    padding: 5px;
    z-index: 2;
    border-radius: 6px;
    button.slick-arrow {
      z-index: 1000;
      margin: auto -20px;
      zoom: 1.5;
      &:before {
        color: white;
      }
    }
    &#feature {
      background-color: #018b3c;
      a {
        color: #1c5c92;
      }
    }
    &#new {
      background-color: #2861a5;
      a {
        color: #297135;
      }
    }
  }
  .item {
    margin: 2px 5px 0 3px;
    background-color: white;
    color: black;
    border-radius: 6px;
    > img {
      width: 150px;
      height: 150px;
      margin: 10px auto;
    }
    > .new, > .featured {
      text-align: center;
      border-bottom: 1px solid #dcdcdc;
      padding: 5px 0;
      font-size: 13px;
      text-transform: uppercase;
      width: 90%;
      margin: 0 auto;
      &.hide-me {
        visibility: none;
      }
    }
    > .name {
      font-size: 13px;
      text-align: center;
      word-break: break-all;
      margin: 0 auto;
      height: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .controls {
      .price-block {
        float: left;
        height: 70px;
        border-top: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        width: 69%;
        font-size: 21px;
        text-align: center;
        .price {
          text-align: center;
          margin-top: 20px;
          color: #333333;
          display: inline-block;
        }
      }
      .cart-block {
        border-top: 1px solid #dcdcdc;
        float: right;
        display: inline-block;
        width: 31%;
        height: 70px;
        .cart {
          height: 47px;
          border-bottom: 1px solid #dcdcdc;
          background: image-url("basket2.png") no-repeat;
          background-position: 3px;
          cursor: pointer;
        }
        .count {
          text-align: center;
          .lt, .gt {
            color: #349945;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#all-products {
  width: initial;
  text-align: center;
  margin: 40px auto;
  position: relative;
  .item {
    width: 220px;
    background-color: white;
    color: black;
    border-radius: 6px;
    display: inline-block;
    margin: 2px 4px 6px 0;
    > img {
      margin: 5px 0 0 0;
      object-fit: contain;
      width: 150px;
      height: 150px;
    }
    > .new, > .featured {
      text-align: center;
      border-bottom: 1px solid #dcdcdc;
      padding: 5px 0;
      font-size: 13px;
      text-transform: uppercase;
      width: 90%;
      margin: 0 auto;
      &.hide-me {
        visibility: none;
      }
    }
    > .name {
      font-size: 14px;
      text-align: center;
      word-break: break-all;
      width: 200px;
      margin: 0 auto;
      height: 80px;
      text-overflow: ellipsis;
      overflow: hidden;
      > a {
        color: #1c5c92;
      }
    }
    .controls {
      .price-block {
        float: left;
        height: 70px;
        border-top: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        width: 69%;
        font-size: 22px;
        .price {
          text-align: center;
          margin-top: 16px;
          color: #333333;
        }
        .price, .fa-rub {
          display: inline-block;
        }
      }
      .cart-block {
        border-top: 1px solid #dcdcdc;
        float: right;
        display: inline-block;
        width: 31%;
        height: 70px;
        .cart {
          height: 47px;
          border-bottom: 1px solid #dcdcdc;
          background: image-url("basket2.png") no-repeat;
          background-position: 10px;
          cursor: pointer;
        }
        .count {
          text-align: center;
          .lt, .gt {
            color: #349945;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }

  // SCREENS //
  @media (min-width: 768px) and (max-width: 991px) {
    > .item {
      width: 200px;
      > .name {
        width: 180px;
      }
      .controls > .price-block .price {
        font-size: 23px;
      }
    }
  }

  @media (min-width: 400px) and (max-width: 767px) {
    > .item {
      width: 180px;
      > .name {
        width: 160px;
        font-size: 13px;
      }
      #cart-control {
        background-position: 7px;
        background-size: 45px;
      }
      .controls > .price-block .price {
        font-size: 21px;
      }
    }
  }

  @media (max-width: 339px) {
    > .item {
      width: 150px;
      > .name {
        width: 130px;
        font-size: 12px;
      }
      .controls > .price-block .price {
        font-size: 20px;
      }
    }
    #cart-control {
      background-position: 3px;
      background-size: 40px;
    }
    
  }
}