@import "font-awesome";

html {
  background-color: #292748;
}

ul {
  list-style-type: none !important;
}

.text-primary {
  color: #29b71d;
}

.text-secondary {
  color: #252525;
}

a {
  color: #29b71d;
  &:hover {
    color: #1F8A16;
  }
}

div.cont {
  padding: 20px 70px;
  margin: 0 auto;
  &.whitespace {
    background-color: white;
    width: 100%;
    min-height: initial;
  }
}

h1, h2, h3, h4, h5 {
  color: white;
}

.taxon-title {
  @extend .cc-white;
}

.out-of-stock {
  @extend .cc-white;
}

.not-found {
  color: white;
  margin: 50px 0;
}

.cc-white {
  color: white;
}

.cc-green {
  color: #00cc49;
}

.c-white {
  background-color: white !important;
}

.c-black {
  background-color: #252525 !important;
}

.border-r-4 {
  border-radius: 4px;
}

.no-border {
  border: 0 !important;
}

.specs-border-top {
  border-top: 1px solid #ddd;
  &:first-of-type {
    border-top: 0;
  }
}

.no-first-border:first-of-type {
  border-top: 0;
}

#breadcrumbs {
  padding: 0;
  .breadcrumb {
    background-color: #252525;
    margin-top: 15px;
    > li:before {
      display: none;
    }
    a > span {
      color: white;
      @extend .ease-all;
      &:hover {
        color: #29b71d;
      }
    }
    @extend .cc-green;
  }
}

#line_items {
  .line-item {
    background-color: white;
  }
}

.taxon {
  .subtaxon-title > a {
    color: #29b71d;
  }
}

.empty-cart {
  margin-top: 10px;
}

.cart-item-quantity-header {
  width: 81px;
}
.cart-item-total-header {
  width: 140px;
}

.in-b {
  display: inline-block !important;
}

.f-l {
  float: left !important;
}

.f-r {
  float: right !important;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.ease-all {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul.list-box {
  margin-left: -18px;
  color: white;
  > li {
    &.new {
      margin-left: -2px;
    }
    display: inline-block;
    padding: 13px 20px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Open Sans Bold", "Helvetica", sans-serif;
    @extend .ease-all;
    &:hover {
      color: #aaa;
    }
  }
}

.l-green {
  background-color: #018b3c !important;
}

.l-blue {
  background-color: #2e497f !important;
}

.l-b-blue {
  background-color: #2861a5 !important;
}

.divider {
  width: 1900px;
  height: 10px;
  margin: 0 auto;
  &.x2 {
    height: 15px;
  }
}

.d-blue {
  background-color: #3783dd;
}

.d-green {
  background-color: #00cc49;
}

.main-wrap {
  background: image-url("bg.png") no-repeat;
  height: 100%;
  background-size: cover;
  position: relative;
}

#product-description {
  h1.product-title {
    word-wrap: break-word;
  }
}

#cart-form {

}

.taxon > .subtaxon-title {
  a {
    color: white;
    &:hover {
      color: #29b71d;
    }
  }
}

.form-group, .list-group-item {
  > label {
    @extend .text-secondary;
  }
}

label[for="save_user_address"], #use_billing {
  @extend .text-secondary;
}

.stock-location, .stock-shipping-method-title, .rate-name {
  @extend .text-secondary;
}

.stock-item {
  > td {
    @extend .text-secondary;
  }
}

p.field, div.field {
  > label {
    @extend .text-secondary;
  }
}

#checkout_form_confirm {
  #line-items {
    td {
      @extend .text-secondary;
    }
  }
}

#order_summary {
  .text-secondary {
    color: white;
  }
}

legend {
  color: white;
}

.field_with_errors {
  color: #a94442;
}

.icon {
  margin: 0 auto 10px;
  cursor: pointer;
  @extend .ease-all;
  &.car {
    background: image-url("car.png") no-repeat;
    width: 44px;
    height: 15px;
  }
  &.battery {
    background: image-url("battery.png") no-repeat;
    width: 37px;
    height: 19px;
  }
  &.vacuum-c {
    background: image-url("vacuum-c.png") no-repeat;
    width: 31px;
    height: 30px;
  }
  &.webcam {
    background: image-url("webcam.png") no-repeat;
    width: 24px;
    height: 28px;
  }
  &.plug {
    background: image-url("plug.png") no-repeat;
    width: 26px;
    height: 28px;
  }
  &.cable {
    background: image-url("cable.png") no-repeat;
    width: 31px;
    height: 30px;
  }
  &.usb {
    background: image-url("usb.png") no-repeat;
    width: 33px;
    height: 29px;
  }
  &.cartridge {
    background: image-url("cartridge.png") no-repeat;
    width: 23px;
    height: 32px;
  }
  &.keyboard {
    background: image-url("keyboard.png") no-repeat;
    width: 35px;
    height: 27px;
  }
  &.speakers {
    background: image-url("speakers.png") no-repeat;
    width: 21px;
    height: 30px;
  }
  &.mouse {
    background: image-url("mouse.png") no-repeat;
    width: 21px;
    height: 29px;
  }
  &.headphones {
    background: image-url("headphones.png") no-repeat;
    width: 32px;
    height: 34px;
  }
  &.flash {
    background: image-url("flash.png") no-repeat;
    width: 30px;
    height: 30px;
  }
  &.laptop {
    background: image-url("laptop.png") no-repeat;
    width: 29px;
    height: 28px;
  }
  &.office {
    background: image-url("office.png") no-repeat;
    width: 24px;
    height: 29px;
  }
  &.pc {
    background: image-url("pc.png") no-repeat;
    width: 39px;
    height: 31px;
  }
  &.various {
    background: image-url("various.png") no-repeat;
    width: 30px;
    height: 30px;
  }
  &.n-cable {
    background: image-url("n-cable.png") no-repeat;
    width: 27px;
    height: 28px;
  }
  &.p-filter {
    background: image-url("p-filter.png") no-repeat;
    width: 24px;
    height: 29px;
  }
  &.cleaning {
    background: image-url("cleaning.png") no-repeat;
    width: 17px;
    height: 32px;
  }
  &.c-reader {
    background: image-url("c-reader.png") no-repeat;
    width: 27px;
    height: 26px;
  }
  &:hover, &.active {
    opacity: 0.6;
  }
}

footer {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
    .copyright {
      background: image-url("copyright.png") no-repeat;
      width: 63px;
      height: 63px;
      margin-bottom: -8px;
    }
    .w-copy {
      float: right;
      padding: 60px 0;
      text-align: right;
    }
    .w-address {
      font-family: "Open Sans";
      float: left;
      padding: 60px 0;
      margin-top: -5px;
      text-align: left;
    }
    .date {
      margin-bottom: -8px;
      font-size: 65px;
    }
  }
}

///////////////// DEV MODE
#development {
  text-align: center;

  .cont {
    min-height: 480px;
  }

  .w-cart {
    visibility: hidden;
  }

  .search {
    width: 250px;
  }

  .header {
    height: initial !important;
  }
}

///////////////// SLICK SLIDER
@import 'slick';
@import 'slick-theme';

.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -5px;
}

.slick-prev {
  left: -5px;
}

// SCREEMS
@media (min-width: 768px) and (max-width: 991px) {
  div.cont {
    padding: 20px 30px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  div.cont {
    padding: 20px 10px;
  }

  .sidebar-wrap > .sidebar-container {
    width: 240px !important;
    .item > .children-container {
      left: 238px !important;
      min-width: 190px;
    }
  }
}

@media (max-width: 399px) {
  div.cont {
    padding: 20px 0px;
  }

  ul.list-box > li {
    padding: 13px 16px 14px !important;
  }

  .sidebar-wrap {
    > .sidebar-container {
      width: 210px !important;
      .item > .children-container {
        left: 208px !important;
        min-width: 160px;
      }
    }
  }
}
