#special_categories {
  .main-container {
    width: 700px;
  }

  h2, h3 {
    color: #2497fd !important;
  }
  h4 {
    margin-top: 20px; 
    color: #29ca1b !important;
  }
  a {
    color: white;
    &:hover {
      color: #29b71d;
    }
  }
  hr {
    color: #29b71d;
    border-top: dashed 3px;
    width: 100%;
  }
}
