// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#terms {
  color: #292748;

  .panel {
    background-color: transparent;
  }

  .panel-default {
    border: 0;
    box-shadow: none;
    h2 {
      font-weight: bold;
    }
    p {
      font-size: 14px;
    }
  }
}

// hack to use custom background
.bg-terms {
  background: image-url('bg-uslovia.jpg') no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  > .whitespace {
    background-color: initial !important;
  }
}
