<div class="sidebar-wrap col-md-4 col-md-offset-0 col-sm-9 col-sm-offset-2 col-xs-12 col-xs-offset-0">
  <div class="sidebar-container">
    <% @special_categories.each do |x| %>
      <% if x.children_id < 20 and x.children_id > 1 %>
        <div class="item">
          <div class="sidebar-icon-<%= x.children_id %>"></div>
          <span class="inner-text"><%= x.name %></span>
          <div class="children-container">
            <% @special_categories.where(:parent_id => x.children_id).each do |y| %>
              <% if y.taxon %>
                <div class="child">
                  <span><%= link_to y.taxon.name, seo_url(y.taxon) %></span>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>