<div class="header">
  <div class="content">
    <div class="" style="overflow: hidden">
      <%= render :partial => 'spree/shared/search' %>
      <div class="logo">
        <%= link_to :root do %>
          <img src="/assets/logo.png" alt="" />
        <% end %>
      </div>
      <div class="phone">
        <img src="/assets/phone.png" alt="" />
        <div class="">
          <span>8 (499) 13-080-13</span>
          <span>С 10-00 до 19-00</span>
        </div>
      </div>
      <div class="basket">
        <%= link_to({:controller => 'spree/orders', :action => 'edit'}) do %>
          <img src="/assets/basket.png" alt="" />
          <div id="itemcount">0</div>
        <% end %>
      </div>
    </div>
    <div class="menutop">
      <ul>
        <li>
          <%= link_to events_path, {:class => current_page?(events_url) ? 'active' : ''} do %>
            События
          <% end %>
        </li>
        <li>
          <%= link_to terms_path, {:class => current_page?(terms_url) ? 'active' : ''} do %>
            Условия
          <% end %>
        </li>
        <li>
          <%= link_to guarantees_path, {:class => current_page?(guarantees_url) ? 'active' : ''} do %>
            Гарантии
          <% end %>
        </li>
        <li>
          <%= link_to about_path, {:class => current_page?(about_url) ? 'active' : ''} do %>
            О нас
          <% end %>
        </li>
        <li>
          <%= link_to b2b_path, {:class => current_page?(b2b_url) ? 'active' : ''} do %>
            B2B
          <% end %>
        </li>
      </ul>
    </div>
    <div class="mobile-menu">
      <span>
        <span></span>
        <span></span>
        <span></span>
      </span>
      <span>Информация</span>
      <div class="hoverblock">
        <ul>
        <li><a href="">События</a></li>                
        <li><a href="">Условия</a></li>
        <li><a href="">Гарантии</a></li>
        <li><a href="">О нас</a></li>
        <li><a href="">B2B</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>