<% content_for :head do %>
  <% if products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<% show_empty = true if local_assigns[:show_empty].nil? %>
<% if show_empty %>
  <div data-hook="products_search_results_heading">
    <% if products.empty? %>
      <div class="cc-white" data-hook="products_search_results_heading_no_results_found">
        <%= Spree.t(:no_products_found) %>
      </div>
    <% elsif params.key?(:keywords) %>
      <div data-hook="products_search_results_heading_results_found">
        <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
      </div>
    <% end %>
  </div>
<% end %>

<% if products.any? %>
  <div id="all-products" class="row" data-hook>
    <% products.each_with_index do |product, index| %>
      <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
      <div class="item" id="<%= product.master.id %>">
        <%= product_image(product, :itemprop => "image") %>
        <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
          <div class="name"><%= link_to product.name, spree.product_url(product) %></div>
          <div class="controls">
            <div class="price-block">
              <div class="price"><%= display_price(product) %></div>
              <i class="fa fa-rub" aria-hidden="true"></i>
            </div>
            <div class="cart-block">
              <div id="cart-control" class="cart" variant-id="<%= product.master.id %>"></div>
              <div class="count">
                <span id="lt-control" class="lt">&lt;</span>
                <span id="val-control" class="val">1</span>
                <span id="gt-control" class="gt">&gt;</span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if products.respond_to?(:num_pages) %>
  <%= paginate products, theme: 'twitter-bootstrap-3' %>
<% end %>
