<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

<%= form_tag spree.products_path, :method => :get, class: "search" do %>
  <img src="/assets/search.png" alt="" />
  <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search) %>
  <%= submit_tag Spree.t(:search), :name => nil, class: "do-search", :value => 'Найти' %>
<% end %>

<!-- for emergency case -->
<!-- 
<img src="img/search.png" alt="" />
<input type="text" name="some_name" value="" placeholder="Поиск"/>
<button>Найти</button> 
-->
