<% content_for :sidebar do %>
  <%= render :partial => 'spree/shared/taxonomies' %>
<% end %>

<section class="featured col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
  <div class="wrapper">
    <ul class="list-box">
      <li id="hottest" class="l-b-blue">Хиты продаж</li>
    </ul>
    <div id="carousel-featured" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-featured" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-featured" data-slide-to="1"></li>
        <li data-target="#carousel-featured" data-slide-to="2"></li>
        <li data-target="#carousel-featured" data-slide-to="3"></li>
        <li data-target="#carousel-featured" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div id="roll" class="carousel-inner" role="listbox">
        <% @carousel_links.each_with_index do |item, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <%= link_to(item) do %>
              <img src="/assets/carousel-<%= index+1 %>.jpg" />
              <div class="price-block">
                <div class="price"><%= item.price if item %></div>
                <i class="fa fa-rub" aria-hidden="true"></i>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#carousel-featured" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-featured" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section>

<br>

<section class="sale col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
  <div class="wrapper">
    <ul class="list-box">
      <li id="featured-tab" class="l-green">Распродажа</li>
      <li id="new-tab" class="l-b-blue new">Новинки</li>
    </ul>

    <div id="feature" class="w-sale">
      <% @featured_products.each do |x| %>
        <div id="<%= x.master.id %>" class="item">
          <div class="featured"><%= (x.featured_text.present? ? x.featured_text : 'Распродажа') %></div>
          <%= product_image(x, :itemprop => "image") %>
          <div class="name"><%= link_to x.name, spree.product_url(x) %></div>
          <div class="controls">
            <div class="price-block">
              <div class="price"><%= display_price(x) %></div>
              <i class="fa fa-rub" aria-hidden="true"></i>
            </div>
            <div class="cart-block">
              <div id="cart-control" class="cart" variant-id="<%= x.master.id %>"></div>
              <div class="count">
                <span id="lt-control" class="lt">&lt;</span>
                <span id="val-control" class="val">1</span>
                <span id="gt-control" class="gt">&gt;</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id="new" class="w-sale" style="display:none">
      <% @new_products.each do |x| %>
        <div id="<%= x.master.id %>" class="item">
          <div class="new"><%= (x.new_text.present? ? x.new_text : 'Новинка') %></div>
          <%= product_image(x, :itemprop => "image") %>
          <div class="name"><%= link_to x.name,spree.product_url(x) %></div>
          <div class="controls">
            <div class="price-block">
              <div class="price"><%= display_price(x) %></div>
              <i class="fa fa-rub" aria-hidden="true"></i>
            </div>
            <div class="cart-block">
              <div id="cart-control" class="cart" variant-id="<%= x.master.id %>"></div>
              <div class="count">
                <span id="lt-control" class="lt">&lt;</span>
                <span id="val-control" class="val">1</span>
                <span id="gt-control" class="gt">&gt;</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>
