<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<h1>Заявка</h1>
<div id="order" class="row" data-hook>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Оформить покупку</h3>
      </div>
      <div id="guest_checkout" class="panel-body" data-hook>
        <% if flash[:show_order_error] %>
          <div class='flash error'><%= flash[:show_order_error] %></div>
        <% end %>
        <p style="color:#27a21d;">
          Оставьте заявку и наш менеджер свяжется с Вами в течение 30 минут
        </p>
        <%= form_tag(place_order_path, :method => :put) do %>
          <%= hidden_field(:offer, :order, :value => @order_number) %>
          <p>
            <%= text_field(:offer, :email, :class => 'form-control title', :placeholder => 'Электронная почта') %>
          </p>
          <p>
            <%= text_field(:offer, :phone, class: 'form-control title', :placeholder => 'Телефон') %>
          </p>
          <p>
            <%= text_field(:offer, :name, class: 'form-control title', :placeholder => 'Имя') %>
          </p>
          <p><%= submit_tag Spree.t(:continue), :class => 'btn btn-lg btn-success btn-block' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
