<ul id="sidebar-returns" class="collapse nav nav-pills nav-stacked" data-hook="admin_returns_sub_tabs">
  <%= tab :return_authorizations, url: spree.admin_return_authorizations_path, match_path: '/return_authorizations', label: Spree.t(:return_authorization) if can?(:admin, Spree::ReturnAuthorization) %>
  <%= tab :customer_returns, url: spree.admin_customer_returns_path, match_path: '/customer_returns', label: Spree.t(:customer_returns) if can?(:admin, Spree::CustomerReturn) %>
</ul>
