<!--
<section class="featured">
  <div class="wrapper">
    <ul class="list-box">
      <li id="hottest" class="l-blue">Хиты продаж</li>
    </ul>
    <div id="carousel-featured" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-featured" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-featured" data-slide-to="1"></li>
        <li data-target="#carousel-featured" data-slide-to="2"></li>
      </ol>

      <div id="roll" class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="http://vokrugtorg.ru/products/makita-hr2470-perforator-sds-780vt-3rezh-2-7dzh-0-4500u-m-2-6kg-chem-zashita-ug-schetok-ot-pyli">
            <img src="/assets/Makita.jpg" />
          </a>
        </div>
        <div class="item">
          <a href="http://vokrugtorg.ru/products/asus-rt-n11p-marshrutizator-1xwan-4xlan-802-11bgn-300-mbit-s-2x-ext-antenna">
            <img src="/assets/Gmini.jpg" />
          </a>
        </div>
        <div class="item">
          <a href="http://vokrugtorg.ru/products/konoos-kabel-usb-kc-a2usb2nbk-am-apple-dlya-iphone5-6-ipod-ipad-8pin-lightning-chernyy-1m-neylonovaya-opletka-korobka">
            <img src="/assets/Konoos-USB.jpg" />
          </a>
        </div>
      </div>

      <a class="left carousel-control" href="#carousel-featured" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#carousel-featured" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section>
-->