<div class="footer">
  <div class="content">
    <div class="footer_text">
      ООО “ВОКРУГТОРГ”<br>
      г. Москва, ул. Ижорская,д. 8, стр. 2, офис 14<br>
      С 10-00 до 19-00<br>
      Понедельник - Пятница<br>
      Тел.: 8 (499) 13-080-13<br>
      Email: info@vokrugtorg.ru<br>
    </div>
  </div>
</div>
