<div class="header">
  <div class="content">
    <div class="" style="overflow: hidden">
      <div class="search"></div>
      <div class="logo">
        <%= link_to :root do %>
          <img src="/assets/logo.png" alt="" />
        <% end %>
      </div>
      <div class="phone">
        <img src="/assets/phone.png" alt="" />
        <div class="">
          <span>8 (499) 13-080-13</span>
          <span>С 10-00 до 19-00</span>
        </div>
      </div>
      <div class="basket">

      </div>
    </div>
    <div class="menutop">
      <ul>
        
      </ul>
    </div>
  </div>
</div>
