<!--
<section class="sale">
  <div class="wrapper">
    <ul class="list-box">
      <li id="sale" class="l-green">Распродажа</li>
      <li id="new" class="l-blue new">Новинки</li>
    </ul>

    <div class="w-sale">
      <div class="item">
        <div class="preview">
          <img src="/items/cable/cable1.jpg" />
          <div class="super-price"></div>
        </div>
        <div class="description">Конский жопо-раздиратель. Анальный. Черный.</div>
        <div class="price">
          <div class="amount">
            <div class="val">999
              <div class="rub"></div>
            </div>
          </div>
          <div class="cart"></div>
        </div>
      </div>
      <div class="item">
        <div class="preview">
          <img src="/items/cable/cable1.jpg" />
          <div class="super-price"></div>
        </div>
        <div class="description">Конский жопо-раздиратель. Анальный. Черный.</div>
        <div class="price">
          <div class="amount">
            <div class="val">999</div>
            <div class="rub"></div>
          </div>
          <div class="cart"></div>
        </div>
      </div>
      <div class="item">
        <div class="preview">
          <img src="/items/cable/cable1.jpg" />
          <div class="super-price"></div>
        </div>
        <div class="description">Конский жопо-раздиратель. Анальный. Черный.</div>
        <div class="price">
          <div class="amount">
            <div class="val">999</div>
            <div class="rub"></div>
          </div>
          <div class="cart"></div>
        </div>
      </div>
      <div class="item">
        <div class="preview">
          <img src="/items/cable/cable1.jpg" />
          <div class="super-price"></div>
        </div>
        <div class="description">Конский жопо-раздиратель. Анальный. Черный.</div>
        <div class="price">
          <div class="amount">
            <div class="val">999</div>
            <div class="rub"></div>
          </div>
          <div class="cart"></div>
        </div>
      </div>
    </div>

  </div>
</section>
-->