<!DOCTYPE html>
<html>
  <head>
    <title>ВокругТорг</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="development">
      <%= render 'layouts/header' %>

      <div class="mainblock <%= 'white-bg' if @whitespace %>">
        <div class="content <%= 'mainblock1' if @whitespace %>">
          <%= yield %>
        </div>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
